

.all-products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    padding: 0px;
    padding-left: 15px;
    gap: 65px;
    width: 100%;
    padding: 0px;
    /* padding-top: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


    